@import "tailwindcss";





body {
  background-color:#F8FAFC; /* Un gris oscuro elegante */
    color: white; /* Opcional: cambia el color del texto */
    margin: 0; /* Elimina márgenes predeterminados */
    font-family: 'Arial', sans-serif; /* Ajusta la tipografía */
    height: 100%;
    padding:0;
    padding-top: 72px;

}
